@using mvcProje.Models.Entity
@model List<TBLURUNLER>

@{
    ViewBag.Title = "IndexUrunler";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Ürünler</h2>

<table id="tbl1" class="table table-striped">
    <thead>
        <tr>
            <th>ÜRÜN ID </th>
            <th>ÜRÜN ADI</th>
            <th>ÜRÜN KATEGORİ</th>
            <th>FİYAT</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
            <th>ALERT</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var urn in Model)
        {
        <tr>
            <td>@urn.URUNID</td>
            <td>@urn.URUNAD</td>
            <td>@urn.TBLKATEGORILER.KATEORIAD</td>
            <td>@urn.FIYAT</td>
            <td><a href="/URUN/SIL/@urn.URUNID" class=" btn btn-danger">SİL</a></td>
            <td><a href="/URUN/UrunGetir/@urn.URUNID" class=" btn btn-success">GÜNCELLE</a></td>
            <td>@Html.ActionLink("SİL BUTONU", "SİL", new { id = urn.URUNID }, new { @class = "btn btn-warning", onclick = "return confirm('Silmek İstediğinizden Emin Misiniz?')" })</td>

        </tr>
        }
    </tbody>
</table>

@*@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("IndexUrunler",new {sayfa}))*@
<a href="/URUN/YenıUrun_" class="btn btn-primary">Yeni Ürün Ekle</a>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />


<script>
    $('#tbl1').DataTable();
</script>